:root {
    --blanco: #ffffff;
    --oscuro:#212121;
    --primario: #FFC107;
    --secundario: #0097a7;
    --gris:#757575;

    --fuente-principal: 3.8rem;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

* *::before, *::after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to top, #afe1f4 0%, var(--blanco 100%));
}

.contenedor {
    max-width: 120rem;
    margin:0 auto;
    color: var(--primario);
}



h1, h2, h3 {
    text-align: center;
}   

.titulo{
    text-align: center;
}

span
h1.titulo span {
    font-size: 2rem;
    
}

.titulo span{
    font-size: 2rem;
    color: var(--oscuro)
}

.icono1 {
    color:var(--primario);
}


.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width:768px) {
    .navegacion-principal {
        flex-direction: row;
    }
    
}

.navegacion-principal a {
    display: block;
    align-items: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;

}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.hero {
    background: linear-gradient(to right, rgba(255,255,255,0.8), rgba(255,255,255,0.1)),
                    url(Suplementos.jpeg);
        background-size: cover;
        background-color: #212121 (0,0,0,.5);
      }
      
.contenido-hero {
    position: relative;
    background-color:rgba(0,0,0,.5);
    background-color: rgb(0, 0, 0 / 50%);
    background-size: cover;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.texto-valencia {
    color: var(--blanco);
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
}

.lugar {
    color: var(--blanco);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.contenido-hero h2 {
    color: var(--blanco);

}

.icono-mapa3 {
    color: var(--primario);
    font-size: 4rem;
}

.iconos-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }



@media (min-width: 768px) {
    .contenido-hero h2 {
        font-size: 4rem;
    }
    .boton1 {
        font-size: 2.5rem;
    }
}

.boton1 {
    position: relative;
    color: var(--blanco);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secundario);
    border: oldlace;
    border-radius: 6rem;
    text-decoration: none;
    text-align: center;
    padding: 1rem 4rem;
    
}

@media (min-width: 768px) {
      
.servicios{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 200px 200px;
    grid-template-columns: 33.3% 33.3% 33.3%;
    column-gap: 10px;
}

}
.servicio {
    scroll-snap-stop: always;
    
}
.servicio {
    display: flex ;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    font-size: 2rem;
    color: var(--oscuro);
    margin: 0;
    font-weight: normal;
    text-align: center;
    
}

.servicio p {
    text-align: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;

}

.formulario {
    background-color: var(--gris);
    width: min(60rem,100%);
    margin: 0% auto;
    border-radius: 1rem;

}

.formulario fieldset {
    border: none;;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

.contenedor-campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.botoncito {
    position: relative;
    color: var(--blanco);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secundario);
    border: oldlace;
    border-radius: 6rem;
    text-decoration: none;
    text-align: center;
    padding: 2rem 4rem;
    display: flex;
}